<div *ngIf="categorias && categorias.length > 0" class="container">
    <h2 class="mb-4 title">Categorías</h2>
    <div class="row">
        <div *ngFor="let categoria of categorias" class="col-md-6 col-lg-4 mb-4">
            <a [routerLink]="['/categorias/rutas', categoria.idCategoria]" class="card-link">
                <div class="card categoria-card">
                    <div class=" text-center">
                        <h5 class="card-header">{{ categoria.nombreCategoria }}</h5>
                    </div>
                    <div class="card-body">
                        <p><strong>ID:</strong> {{ categoria.idCategoria }}</p>
                        <img [src]="categoria.urlImagen" alt="Imagen de {{ categoria.nombreCategoria }}"
                            class="img-fluid categoria-img">
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div *ngIf="categorias.length === 0" class="container">
    <div class="alert alert-warning" role="alert">
        No hay categorias disponibles.
    </div>
</div>