<div *ngIf="usuarios && usuarios.length > 0" class="container">
    <h2 class="mb-4 title">Usuarios Registrados</h2>
    <div class="row">
        <div *ngFor="let usuario of usuarios" class="col-md-6 col-lg-4 mb-4">
            <div class="card">
                <div class=" text-center">
                    <h5 class="card-header user">{{ usuario.nombreUsuario }}</h5>
                </div>
                <div class="card-body">
                    <p><strong>ID:</strong> {{ usuario.idUsuario }}</p>
                    <p><strong>Correo Electrónico:</strong> {{ usuario.correoElectronico }}</p>
                    <p><strong>Fecha de Nacimiento:</strong> {{ usuario.fechaNacimiento | date: 'dd/MM/yyyy' }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="usuarios.length === 0" class="container">
    <div class="alert alert-warning" role="alert">
        No hay usuarios disponibles.
    </div>
</div>