<div *ngIf="usuario" class="container">
  <h2 class="mb-4 title">Perfil {{ usuario.nombreUsuario }}</h2>
  <div class="row text-center">
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-header user">
          <h5>ID</h5>
        </div>
        <div class="card-body">
          <p>{{ usuario.idUsuario }}</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-header user">
          <h5>Nombre</h5>
        </div>
        <div class="card-body">
          <p>{{ usuario.nombreUsuario }}</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-header user">
          <h5>Email</h5>
        </div>
        <div class="card-body">
          <p>{{ usuario.correoElectronico }}</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-header user">
          <h5>Fecha de nacimiento</h5>
        </div>
        <div class="card-body">
          <p>{{ usuario.fechaNacimiento | date: 'dd/MM/yyyy' }}</p>
        </div>
      </div>
    </div>
  </div>
</div>