<div class="bodyCtn">
  <div class="ctn-movil col-md-5">
    <img class="img-fluid" src="img/web/main-img-movil.webp" alt="conexion" />
  </div>
  <div id="carouselId" class="ctn-carrousel carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true" aria-label="First slide">
      </li>
      <li data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Second slide"></li>
      <li data-bs-target="#carouselId" data-bs-slide-to="2" aria-label="Third slide"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <img src="img/web/carousel/murcielago-layna-3200x1000.webp" class="img-fluid" alt="First slide" />
        <div class="carousel-caption d-none d-md-block">
          <h1>¡Registra tus Cicloaventuras!</h1>
          <p>2024 | Nevada en el municipio de Arcos de Jalón (Soria)</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/web/carousel/carboneras-3200x1000.webp" class="img-fluid" alt="Second slide" />
        <div class="carousel-caption d-none d-md-block">
          <h3 class="fs-1">San José</h3>
          <p>
            2019 | Alto en el camino junto al litoral del Mar de Alborán (Granada)
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/web/carousel/camino-primitivo-3200x1000.webp" class="img-fluid" alt="Third slide" />
        <div class="carousel-caption d-none d-md-block">
          <h3 class="fs-1">Camino del Norte</h3>
          <p>2019 | Frondosas zonas verdes en Celorio (Asturias)</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!---------------------------------------- CARACTERÍSTICAS ---------------------------------------->
  <div class="container marketing">
    <hr class="featurette-divider" />

    <div class="row mt-5 featurette">
      <div class="col-md-7">
        <h1 class="featurette-heading fw-normal lh-1">Experiencias únicas</h1>
        <p class="lead">
          Conexión que combina aventura, libertad y un fuerte sentido de unión con
          el entorno. La autosuficiencia te permite descubrir nuevos lugares
          remotos a un ritmo pausado, lejos de la vida moderna. Aunque puede ser
          desafiante, la recompensa es una profunda sensación de logro y la
          oportunidad de experimentar y conocer tu yo más primitivo.
        </p>
      </div>
      <div class="col-md-5">
        <img src="img/web/main-index/conexion500x500.webp" alt="conexion" />
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row mt-5 featurette">
      <div class="col-md-7 order-md-2">
        <h1 class="featurette-heading fw-normal lh-1">Nuevos horizontes</h1>
        <p class="lead">
          Con tu propio esfuerzo, la bicicleta se convierte en la herramienta para
          explorar paisajes, pueblos y culturas desde una perspectiva cercana y
          auténtica. Cada pedalada es un paso hacia lo desconocido, te desafía a
          enfrentarte a tus propios límites, lidiar con el cansancio o superar la
          incertidumbre de no saber qué encontrarás más adelante.
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="img-featurette" src="img/web/main-index/nuevos_horizontes500x500.webp" alt="nuevos_horizontes" />
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row mt-5 featurette">
      <div class="col-md-7">
        <h1 class="featurette-heading fw-normal lh-1">Autonomía y libertad</h1>
        <p class="lead">
          Tendrás la independencia para elegir tu ritmo, tus rutas y tus destinos.
          Este estilo de viaje te permite descubrir caminos poco transitados,
          improvisar y explorar lugares que no están en las guías turísticas,
          fomentando un espíritu de aventura.
        </p>
      </div>
      <div class="col-md-5">
        <img src="img/web/main-index/lugares_unicos500x500.webp" alt="lugares_unicos500x500" />
      </div>
    </div>

    <hr class="featurette-divider" />
    <!---------------------------------------- OPINIONES ---------------------------------------->
    <h3 class="featurette-heading my-5 fw-normal lh-1 text-center">
      Opiniones de nuestros aventureros
    </h3>
    <div class="row">
      <div class="col-lg-4 text-center mb-5">
        <img class="rounded-circle mb-2" src="img/web/marketing/juan-150x150.webp" alt="img-juan" />
        <p class="fs-4">Juan</p>
        <p>
          ¡Me ha encantado la experiencia con la aplicación RumboBici! Ha sido genial crear y gestionar mis
          rutas, la plataforma me ha motivado ha explorar nuevas rutas y categorías, llevándome a descubrir
          paisajes increíbles mientras me conecto con mi pasión por la bicicleta y el aire libre. ¡Una experiencia
          perfecta para planificar mis aventuras ciclistas!
        </p>
      </div>
      <div class="col-lg-4 text-center mb-5">
        <img class="rounded-circle mb-2" src="img/web/marketing/karen-150x150.webp" alt="img-karen" />
        <p class="fs-4">Karen</p>
        <p>
          Crear y gestionar mis rutas ha sido fácil y divertido, permitiéndome
          explorar nuevas rutas y categorías mientras disfruto de la naturaleza y de nuevas experiencias.
          ¡Definitivamente seguiré usando la app para mis próximas aventuras ciclistas! Gracias por hacer todo esto tan
          accesible.
        </p>
      </div>
      <div class="col-lg-4 text-center mb-5">
        <img class="rounded-circle mb-2" src="img/web/marketing/jaime.webp" alt="img-jaime" />
        <p class="fs-4">Jaime</p>
        <p>
          Ha sido mi primera experiencia creando mis propias rutas, y ha sido una aventura muy positiva. La aplicación
          me permitió
          gestionar todo el recorrido de manera sencilla, con un enfoque en el respeto al entorno y el disfrute de la
          naturaleza, convirtiendo cada ruta en una experiencia única. ¡Sin duda repetiré mis aventuras con esta app!
        </p>
      </div>
      <!-- /.col-lg-4 -->

      <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->

    <!-- /END THE FEATURETTES -->
  </div>
</div>