<div class="bodyCtn">
  <div class="ctn-movil col-md-5">
    <img class="img-fluid" src="img/web/main-img-movil.webp" alt="conexion" />
  </div>
  <div id="carouselId" class="ctn-carrousel carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true" aria-label="First slide">
      </li>
      <li data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Second slide"></li>
      <li data-bs-target="#carouselId" data-bs-slide-to="2" aria-label="Third slide"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <img src="img/web/carousel/murcielago-layna-3200x1000.webp" class="img-fluid" alt="First slide" />
        <div class="carousel-caption d-none d-md-block">
          <h1>¡Registra tus Cicloaventuras!</h1>
          <p>2024 | Nevada en el municipio de Arcos de Jalón (Soria)</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/web/carousel/carboneras-3200x1000.webp" class="img-fluid" alt="Second slide" />
        <div class="carousel-caption d-none d-md-block">
          <h3 class="fs-1">San José</h3>
          <p>
            2019 | Alto en el camino junto al litoral del Mar de Alborán (Granada)
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/web/carousel/camino-primitivo-3200x1000.webp" class="img-fluid" alt="Third slide" />
        <div class="carousel-caption d-none d-md-block">
          <h3 class="fs-1">Camino del Norte</h3>
          <p>2019 | Frondosas zonas verdes en Celorio (Asturias)</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!---------------------------------------- CARACTERÍSTICAS ---------------------------------------->
  <div class="container marketing">
    <hr class="featurette-divider" />

    <div class="row mt-5 featurette">
      <div class="ctn-home-explora col-md-7">
        <h1 class="featurette-heading fw-normal lh-1 mb-4">Explora, Conoce, Descubre</h1>
        <h4>¡Registra tus descubrimientos y comparte la inspiración!</h4>
          <p class="lead">
            La bicicleta no es solo deporte también es una forma de conocer tu entorno.
            Desde rutas tranquilas en tu ciudad hasta senderos perdidos en la montaña,
            cada salida puede ser una pequeña aventura.
          </p>
      </div>
      <div class="col-md-5">
        <img src="img/web/main-index/conexion500x500.webp" alt="conexion" />
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row mt-5 featurette">
      <div class="ctn-home-categorias col-md-7 order-md-2">
        <h1 class="featurette-heading fw-normal lh-1">Clasifica tus recorridos</h1>
        <p class="lead">
          Puedes categorizar tus recorridos para que puedas ver de un vistazo qué tipo de ciclista eres.
          Una forma práctica de analizar tu experiencia y probar nuevas modalidades.
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="img-featurette" src="img/web/main-index/nuevos_horizontes500x500.webp" alt="nuevos_horizontes" />
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row mt-5 featurette">
      <div class="col-md-7">
        <h1 class="featurette-heading fw-normal lh-1">Gestiona tu historial</h1>
        <p class="lead">
          En el apartado de rutas tendrás la posibilidad de actualizar una distancia o eliminar una ruta antigua.
          La aplicación te da flexibilidad total para mantener tu perfil actualizado y reflejar tu progreso real. Tú
          mandas sobre tus registros.
        </p>
      </div>
      <div class="col-md-5">
        <img src="img/web/main-index/lugares_unicos500x500.webp" alt="lugares_unicos500x500" />
      </div>
    </div>

    <hr class="featurette-divider" />
    <!---------------------------------------- OPINIONES ---------------------------------------->
    <h3 class="featurette-heading my-5 fw-normal lh-1 text-center">
      Opiniones de nuestros aventureros
    </h3>
    <div class="row">
      <div class="col-lg-4 text-center mb-5">
        <img class="rounded-circle mb-2" src="img/web/marketing/juan-150x150.webp" alt="img-juan" />
        <p class="fs-4">Juan</p>
        <p>
          ¡Me ha encantado la experiencia con la aplicación RumboBici! Ha sido genial crear y gestionar mis
          rutas, la plataforma me ha motivado ha explorar nuevas rutas y categorías.
        </p>
      </div>
      <div class="col-lg-4 text-center mb-5">
        <img class="rounded-circle mb-2" src="img/web/marketing/karen-150x150.webp" alt="img-karen" />
        <p class="fs-4">Karen</p>
        <p>
          Crear y gestionar mis rutas ha sido fácil y divertido.
          ¡Definitivamente seguiré usando la aplicación para mis próximas aventuras ciclistas!
        </p>
      </div>
      <div class="col-lg-4 text-center mb-5">
        <img class="rounded-circle mb-2" src="img/web/marketing/jaime.webp" alt="img-jaime" />
        <p class="fs-4">Jaime</p>
        <p>
          Ha sido mi primera experiencia creando mis propias rutas, y ha sido una aventura muy positiva. La aplicación
          me permitió gestionar todo el recorrido de manera sencilla.
        </p>
      </div>
      <!-- /.col-lg-4 -->

      <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->

    <!-- /END THE FEATURETTES -->
  </div>
</div>