mat-toolbar {
  padding: 4rem;
  background-color: #ffffff8c;
  backdrop-filter: blur(8px);
  position: sticky;
  top: 0;
  z-index: 1000;

  mat-icon {
    color: black;
  }
}

img {
  padding-left: 2rem;
}

@media (max-width: 570px) {
  img {
    display: none;
  }
}