mat-toolbar {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #ffffff8c;
  backdrop-filter: blur(8px);
  position: sticky;
  top: 0;
  z-index: 1000;

  mat-icon {
    color: black;
  }
}

img {
  padding-left: 2rem;
}

.img-mobile {
  display: none;
}

@media (max-width: 775px) {
  img {
    display: none;
  }

  .img-mobile {
    display: block;
    padding-left: 0 !important;
  }
}