<div *ngIf="relacionRutasUsuario && relacionRutasUsuario.length > 0" class="container">
    <h2 class="mb-4 title">
         {{ relacionRutasUsuario.length }} Rutas de {{ relacionRutasUsuario[0].usuario.nombreUsuario}}
    </h2>
    <div class="row">
        <div *ngFor="let usuarioRuta of relacionRutasUsuario" class="col-md-6 col-lg-4 mb-4">
            <div class="card categoria-card">
                <div class="text-center">
                    <h5 class="card-header"
                        [ngStyle]="{ 'background-color': obtenerColorFondo(usuarioRuta.ruta.idCategoriaRuta.idCategoria) }">
                        {{ usuarioRuta.ruta.nombreRuta }}
                    </h5>
                </div>

                <div class="card-body"
                    [ngStyle]="{ 'background-color': obtenerColorFondo(usuarioRuta.ruta.idCategoriaRuta.idCategoria) }">
                    <p><strong>ID Ruta:</strong> {{ usuarioRuta.ruta.idRuta }}</p>
                    <p><strong>Localidad:</strong> {{ usuarioRuta.ruta.localidadRuta }}</p>
                    <p><strong>Kilómetros:</strong> {{ usuarioRuta.ruta.kilometrosRuta }}</p>
                    <p><strong>Fecha:</strong> {{ usuarioRuta.ruta.fechaRuta | date: 'dd/MM/yyyy' }}</p>
                    <p><strong>Categoría:</strong> {{ usuarioRuta.ruta.idCategoriaRuta.nombreCategoria  }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="relacionRutasUsuario.length === 0" class="container">
    <div class="alert alert-warning" role="alert">
        No hay rutas registradas para este usuario.
    </div>
</div>

