<app-header></app-header>
<div class="d-sm-none col-md-5">
  <img class="img-fluid" src="img/web/main-img-movil.webp" alt="conexion" />
</div>
<div
  id="carouselId"
  class="d-none d-sm-block carousel slide"
  data-bs-ride="carousel"
>
  <ol class="carousel-indicators">
    <li
      data-bs-target="#carouselId"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="First slide"
    ></li>
    <li
      data-bs-target="#carouselId"
      data-bs-slide-to="1"
      aria-label="Second slide"
    ></li>
    <li
      data-bs-target="#carouselId"
      data-bs-slide-to="2"
      aria-label="Third slide"
    ></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img
        src="img/web/carousel/murcielago-layna-3200x1000.webp"
        class="img-fluid"
        alt="First slide"
      />
      <div class="carousel-caption d-none d-md-block">
        <h3 class="fs-1">Layna</h3>
        <p>2024 | Nevada en el municipio de Arcos de Jalón (Soria)</p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="img/web/carousel/carboneras-3200x1000.webp"
        class="img-fluid"
        alt="Second slide"
      />
      <div class="carousel-caption d-none d-md-block">
        <h3 class="fs-1">San José</h3>
        <p>
          2019 | Alto en el camino junto al litoral del Mar de Alborán (Granada)
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="img/web/carousel/camino-primitivo-3200x1000.webp"
        class="img-fluid"
        alt="Third slide"
      />
      <div class="carousel-caption d-none d-md-block">
        <h3 class="fs-1">Camino del Norte</h3>
        <p>2019 | Frondosas zonas verdes en Celorio (Asturias)</p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselId"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselId"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- START THE FEATURETTES -->
<div class="container marketing">
  <hr class="featurette-divider" />

  <div class="row mt-5 featurette">
    <div class="col-md-7">
      <h1 class="featurette-heading fw-normal lh-1">Experiencia única</h1>
      <p class="lead">
        Conexión que combina aventura, libertad y un fuerte sentido de unión con
        el entorno. La autosuficiencia te permite descubrir nuevos lugares
        remotos a un ritmo pausado, lejos de la vida moderna. Aunque puede ser
        desafiante, la recompensa es una profunda sensación de logro y la
        oportunidad de experimentar y conocer tu yo más primitivo.
      </p>
    </div>
    <div class="col-md-5">
      <img src="img/web/main-index/conexion500x500.webp" alt="conexion" />
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row mt-5 featurette">
    <div class="col-md-7 order-md-2">
      <h1 class="featurette-heading fw-normal lh-1">Nuevos horizontes</h1>
      <p class="lead">
        Con tu propio esfuerzo, la bicicleta se convierte en la herramienta para
        explorar paisajes, pueblos y culturas desde una perspectiva cercana y
        auténtica. Cada pedalada es un paso hacia lo desconocido, te desafía a
        enfrentarte a tus propios límites, lidiar con el cansancio o superar la
        incertidumbre de no saber qué encontrarás más adelante.
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img
        class="img-featurette"
        src="img/web/main-index/nuevos_horizontes500x500.webp"
        alt="nuevos_horizontes"
      />
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row mt-5 featurette">
    <div class="col-md-7">
      <h1 class="featurette-heading fw-normal lh-1">Autonomía y libertad</h1>
      <p class="lead">
        Tendrás la independencia para elegir tu ritmo, tus rutas y tus destinos.
        Este estilo de viaje te permite descubrir caminos poco transitados,
        improvisar y explorar lugares que no están en las guías turísticas,
        fomentando un espíritu de aventura.
      </p>
    </div>
    <div class="col-md-5">
      <img
        src="img/web/main-index/lugares_unicos500x500.webp"
        alt="lugares_unicos500x500"
      />
    </div>
  </div>

  <hr class="featurette-divider" />

  <!----------------------------------- Opiniones de la comunidad -------------------------------------->
  <h3 class="featurette-heading my-5 fw-normal lh-1 text-center">
    Opiniones de nuestros aventureros
  </h3>
  <br />
  <div class="row">
    <div class="col-lg-4 text-center">
      <img
        class="rounded-circle mb-2"
        src="img/web/marketing/juan-150x150.webp"
        alt="img-juan"
      />
      <p class="fs-4">Juan</p>
      <p>
        ¡Me ha encantado la experiencia con RumboBici! No sólo la ruta ha sido
        espectacular y el recorrido muy bien planificado, sino que se ha creado
        una muy bonita armonía de grupo en torno a la bici y la naturaleza.
      </p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4 text-center">
      <img
        class="rounded-circle mb-2"
        src="img/web/marketing/jaime.webp"
        alt="img-jaime"
      />
      <p class="fs-4">Jaime</p>
      <p class="t">
        Si quieres vivir una experiencia diferente viajando en bici sin
        preocuparte más que por pedalear y disfrutar paisajes increíbles,
        RumboBici lo hará posible. Montañas y paisajes únicos, alojamientos
        maravillosos y una gastronomía sin igual te harán olvidarte de todo. Sin
        duda repetiré con ellos. Gracias por hacerlo posible.
      </p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4 text-center">
      <img
        class="rounded-circle mb-2"
        src="img/web/marketing/karen-150x150.webp"
        alt="img-karen"
      />
      <p class="fs-4">Karen</p>
      <p>
        Acabo de realizar una ruta preciosa y divertida por Asturias. Ha sido mi
        primera experiencia en grupo y la aventura ha sido muy positiva. Su
        filosofía se basa en el respeto al entorno, el contacto con la
        naturaleza y la convivencia, convirtiendo sus propuestas en una
        experiencia única.
      </p>
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->

  <!-- /END THE FEATURETTES -->
</div>
