<div class="ctn-modal-confirmacion">
    <h3 [ngStyle]="{ color: data.tituloColor }" class="text-center mt-4">{{ titulo }}</h3>
    <div class="container">
        <p class="text-center">{{ mensaje }}</p>
        <div class="d-flex justify-content-center gap-4 mt-5">
            <button class="btn btn-salir" mat-raised-button (click)="cancelar()">Cancelar</button>
            <button class="btn btn-home" mat-stroked-button (click)="confirmarEliminacion()">Confirmar</button>
        </div>
    </div>
</div>