<mat-toolbar>
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <a routerLink="/home">
    <img src="img/logos/logo-3color-200x150.svg" alt="logo-rumbobici" />
  </a>

  <span style="flex: auto"></span>

  <button
    class="btn btn-home"
    mat-stroked-button
    routerLink="/home"
    *ngIf="mostrarBoton('home')"
  >
    Home
  </button>

  <button
    class="btn btn-login"
    mat-stroked-button
    routerLink="/login"
    *ngIf="mostrarBoton('login')"
  >
    Login
  </button>

  <button
    class="btn btn-perfil"
    mat-stroked-button
    routerLink="/perfil"
    *ngIf="mostrarBoton('perfil')"
  >
    Perfil
  </button>

  <button
    class="btn btn-salir"
    mat-raised-button
    routerLink="/home"
    *ngIf="mostrarBoton('salir')"
  >
    Salir
  </button>
</mat-toolbar>
<mat-drawer-container>
  <mat-drawer
    *ngIf="mostrarDrawer"
    #myDrawer
    opened="true"
    mode="side"
    position="start"
  >
    <mat-list>
      <mat-list-item>
        <button mat-button routerLink="/perfil">
          <mat-icon>dashboard</mat-icon>
          Panel principal
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/usuarios">
          <mat-icon>person</mat-icon>
          Usuarios
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/rutas">
          <mat-icon>routes</mat-icon>
          Rutas
        </button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content *ngIf="mostrarDrawer">
    <div style="min-height: 600px">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
