<header>
  <!---------------------------------------- CABECERA -------------------------------------------->
  <div class="text-black container-fluid">
    <div class="row">
      <div class="py-4 d-none d-sm-block text-center col-12 col-lg-3">
        <a href="./index.html">
          <img
            class="img-fluid"
            src="../../assets/img/logos/logo-3color-200x150.svg"
            alt="logo-web-rumbobici"
          />
        </a>
      </div>
      <div
        class="d-none d-sm-flex col-12 col-lg-9 text-end d-flex justify-content-around"
      >
        <div class="d-flex align-items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            fill="currentColor"
            class="bi bi-sun"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6m0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0m9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708"
            />
          </svg>
          <p class="text-start px-2">
            EXPLORA LA NATURALEZA<br />
            Aventuras inolvidables
          </p>
        </div>
        <div class="d-flex align-items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            fill="currentColor"
            class="bi bi-compass"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 16.016a7.5 7.5 0 0 0 1.962-14.74A1 1 0 0 0 9 0H7a1 1 0 0 0-.962 1.276A7.5 7.5 0 0 0 8 16.016m6.5-7.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0"
            />
            <path d="m6.94 7.44 4.95-2.83-2.83 4.95-4.949 2.83 2.828-4.95z" />
          </svg>
          <p class="text-start px-2">
            ÚNETE A NUESTRAS RUTAS<br />
            Pedalea hacia nuevos horizontes
          </p>
        </div>
        <div class="d-flex align-items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            fill="currentColor"
            class="bi bi-universal-access-circle"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 4.143A1.071 1.071 0 1 0 8 2a1.071 1.071 0 0 0 0 2.143m-4.668 1.47 3.24.316v2.5l-.323 4.585A.383.383 0 0 0 7 13.14l.826-4.017c.045-.18.301-.18.346 0L9 13.139a.383.383 0 0 0 .752-.125L9.43 8.43v-2.5l3.239-.316a.38.38 0 0 0-.047-.756H3.379a.38.38 0 0 0-.047.756Z"
            />
            <path
              d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0M1 8a7 7 0 1 1 14 0A7 7 0 0 1 1 8"
            />
          </svg>
          <p class="text-start px-2">
            PARA TODOS LOS NIVELES<br />
            Iniciación, medio y avanzado
          </p>
        </div>
      </div>
    </div>
  </div>
  <!------------------------------------------------------ BARRA DE NAVEGACION ------------------------------------------------>
  <nav class="navbar navbar-expand-lg navbar-light border-bottom border-top">
    <div class="container-fluid m-0 py-2 px-2 col-9">
      <button
        class="navbar-toggler d-lg-none"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapsibleNavId"
        aria-controls="collapsibleNavId"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav m-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a
              class="fw-bold nav-link active text-primary"
              href="./index.html"
              aria-current="page"
              >H O M E<span class="visually-hidden">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="fw-bold nav-link" href="./pages/rutas.html">R U T A S</a>
          </li>
          <li class="nav-item">
            <a class="fw-bold nav-link" href="#">N O T I C I A S</a>
          </li>
          <li class="nav-item">
            <a class="fw-bold nav-link" href="#">G A L E R Í A</a>
          </li>
          <li class="nav-item">
            <a class="fw-bold nav-link" href="#">I N F O</a>
          </li>
        </ul>
      </div>
    </div>
    <div
      class="col-3 col-md-2 d-flex justify-content-end align-items-center position-absolute top-0 end-0 pt-3 me-3"
    >
      <a href="./pages/log-in.html" class="fs-5 btn-login btn me-2">Acceso</a>
      <a href="./pages/form-sub.html" class="btn-act fs-5 btn btn-primary"
        >Suscríbete</a
      >
    </div>
  </nav>
</header>
<router-outlet />
