@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* COLORES
-------------------------------------------------- */
$color-magenta: #a6006f;
$color-magenta-luminoso: #e00097ff;
$color-turquesa: #00c5ccff;
$color-turquesa-luminoso: rgb(17, 240, 248);
$color-turquesa-transparente: rgba(0, 197, 204, 0.137);
$color-black: black;
$color-white: #ffffff;
$color-rojo: rgba(228, 14, 14, 0.63);
$color-azul: rgb(14, 160, 228);
$color-card-bg: rgba(255, 255, 255, 0.859);
$color-title: #332f1a;
$color-label: #1b4f51;
$color-text-white: #ffffff;
$color-shadow-dark: rgba(0, 0, 0, 1);
$color-shadow-light: rgba(0, 0, 0, 0.1);

/* GLOBAL STYLES
-------------------------------------------------- */
@font-face {
  font-family: "LTWave-Regular";
  src: url("../public/fonts/LTWave-Regular/ltwave-regular-webfont.woff2") format("woff2"),
    url("../public/fonts/LTWave-Regular/ltwave-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-size: 16px;
}

.boxed {
  max-width: 1000px;
  margin: auto;
}

body {
  margin: 0;
}

* {
  font-family: "LTWave-Regular", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif !important;
}

img {
  max-width: 100%;
  height: auto;
}

.categoria-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.error-msg {
  color: $color-rojo;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

h5 {
  margin-bottom: 0px;
  font-size: 1.3rem;
}

/* MAIN
---------------------------------------------------------*/
main {
  margin: 60px;
}

/* BOTONES
---------------------------------------------------------*/
.btn {
  font-size: 1rem !important;
  border-radius: 15px !important;
  margin-left: 15px;

  &:hover {
    color: $color-text-white !important;
    background-color: $color-magenta-luminoso !important;
  }
}

.btn-home {
  background-color: $color-turquesa !important;

  &:hover {
    color: $color-text-white !important;
    background-color: $color-turquesa-luminoso !important;
  }
}

.btn-login {
  margin-left: 1rem;
}

.btn-salir {
  background-color: $color-rojo !important;

  &:hover {
    color: $color-text-white !important;
    background-color: red !important;
  }
}

.btn-nuevo {
  border-color: $color-magenta-luminoso;
  color: $color-magenta-luminoso;
}

.btn-guardar {
  border-color: $color-azul;
  color: $color-azul;

  &:hover {
    color: $color-text-white !important;
    background-color: $color-azul !important;
  }
}

.btn-salir-edicion {
  border-color: $color-rojo ;
  color: $color-rojo ;

  &:hover {
    color: $color-text-white !important;
    background-color: $color-rojo !important;
  }
}


.ctn-nueva-ruta {
  display: flex;
  margin: 40px 40px;
  justify-content: center;
}

/* CONTAINERS
---------------------------------------------------------*/
.row {
  justify-content: center;
}

div.container {
  margin-top: 40px;
  margin-bottom: 40px;
}

div.card-body {
  text-align: center;
}

div.alert-warning {
  text-align: center;
}

/* FORM
---------------------------------------------------------*/
.ctn {
  display: flex;
  margin-top: 5rem;
  align-items: center !important;
  justify-content: center !important;
}

.ctn-buttons {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}

mat-card-title {
  border-radius: 10px;
  color: $color-magenta;
  font-size: 2rem !important;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3rem !important;
  margin-top: 2rem !important;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
}

mat-card {
  border-radius: 10px !important;
  background-color: $color-card-bg !important;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px $color-shadow-light;
  max-width: 400px;
  margin: auto;
  justify-content: center !important;
}

h1 {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
}

.title {
  font-size: 2.5rem !important;
  text-align: center;
  color: $color-magenta;
  padding: 1rem;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
}

mat-form-field {
  width: 100%;
  margin-bottom: 3rem;

  .mat-form-field-label {
    font-weight: 500;
    color: $color-label;
  }

  .mat-form-field-outline {
    border-color: $color-title;
  }

  .mat-form-field-underline {
    display: none;
  }
}

/* MODALES
---------------------------------------------------------*/
.custom-modal-panel {
  border-radius: 15px !important;
  overflow: hidden;
  background-color: #ffffff;
  width: 500px;
  max-width: 600px;
}

.modal-title {
  font-size: 2rem;
  color: $color-magenta;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
  padding-bottom: 1rem;
  padding-top: 1rem;
}

form.container {
  background-color: $color-card-bg;
  padding: 2rem;
  max-width: 500px;
  margin: auto;

  .form-label {
    color: $color-label;
  }

  .form-control {
    border-radius: 10px;
    border: 1px solid $color-turquesa;
    padding: 0.5rem;

    &:focus {
      border-color: $color-magenta-luminoso;
      box-shadow: 0 0 0 0.2rem rgba(0, 197, 204, 0.25);
    }
  }

  mat-form-field {
    width: 100%;
    margin-bottom: 2rem;

    .mat-form-field-label {
      color: $color-label !important;
    }

    .mat-select {
      background-color: white;
      border-radius: 10px;
    }
  }

}

/* PANELES
---------------------------------------------------------*/
mat-grid-list {
  margin: 20px;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
}

mat-grid-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

mat-card-content {
  padding: 16px;
  font-size: 1rem;
  color: #555;
}

mat-card-content {
  word-wrap: break-word;
}

.card-header {
  background-color: $color-turquesa-transparente !important;
}

@media (max-width: 775px) {
  mat-grid-list {
    grid-template-columns: 1fr;
  }

  mat-grid-tile {
    margin-bottom: 16px;
  }
}

.card-link {
  text-decoration: none;
}

.categoria-card:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}

/* CAROUSEL
---------------------------------------------------------*/
ol.carousel-indicators {
  list-style: none;
}

.carousel-caption {
  h1 {
    text-shadow: 2px 2px $color-shadow-dark;
    text-transform: uppercase;
    font-size: 3rem;
  }

  h3 {
    text-shadow: 2px 2px $color-shadow-dark;
  }

  p {
    font-size: 1.2rem;
    text-shadow: 2px 2px $color-shadow-dark;
  }
}

/* FOOTER
-------------------------------------------------- */
footer {
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(2px);
  padding-top: 40px;
  align-items: center;

  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;

  p {
    padding-bottom: 10px;

    a {
      color: $color-magenta;
      text-decoration: none;
    }
  }
}